.carousal-container .product-hover-container {
    position: relative;
    overflow: hidden;
    border-radius: 0.375rem;
  }
  
  .carousal-container .flash-line {
    position: absolute;
    top: 0;
    left: 0;
    height: 2px; /* Line thickness */
    width: 100%;
    background: rgba(255, 0, 0, 0.8); /* Flash color */
    transform: translateX(-100%);
    box-shadow: 0 0 5px rgba(255, 0, 0, 0.5); /* Shadow for the line */
    transition: transform 0.4s ease-in-out;
  }
  
  .carousal-container .product-hover-container:hover .flash-line {
    animation: flash-line 0.7s ease-in-out forwards;
  }
  
  @keyframes flash-line {
    0% {
      transform: translateX(-100%);
    }
    50% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(100%);
    }
  }
  